root {
    overflow:hidden
}
h1 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 10px;
}

.form-wrapper {
    margin: 20px 80px 40px 80px;
    position: relative;
    background-color:aliceblue;
}

form {
    padding: 2% 12% 2% 12%;
}

label {
    margin-bottom: 5px;
    font-weight: lighter;
}

input {
    width: 100%;
}

button {
    margin-left: 5px;
    border-radius: 5px;
    border: 2px solid;
    padding: 8px 12px 8px 12px;
    background-color:cadetblue;
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

button:hover {
    background-color: rgb(71, 132, 133);
}

.table-container {
    height: 350px;
    overflow-y: scroll;
}

table {
  min-width: 90%;
  margin-left: 80px;
  justify-content: center;
  background-color:rgb(98, 96, 96);
}

thead {
    position: sticky;
    top: 0;
    z-index: 101;
}

thead th {
        color: black;
        background-color:rgb(78, 77, 77);
        text-align: left;
        padding: 10px;
        font-weight: bolder;
        font-size: large;
}
    
tbody td {
        color:black;
        text-align: left;
        text-wrap: wrap;
        padding: 10px;
        text-wrap:wrap;
}

svg {
    width: 0;
}
